---
import '@css/globals.css'
import '@css/blog.css'

import styles from '../styles.module.css'
import Footer from '../Footer'
import Back from '@components/Icons/Back'
import BackToTop from '../Top'

interface Props {
  title?: string
  description?: string
  image?: string
  path: string
}

const meta = {
  root: 'https://harshsingh.xyz',
  type: 'website',
  image: 'https://harshsingh.xyz/banner.png',
}

const { frontmatter, url } = Astro.props
---

<html lang='en'>
  <head>
    <title>{frontmatter.title}</title>
    <meta charset='utf-8' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicons/apple-touch-icon.png'
    />
    <link rel='alternate icon' type='image/png' href='/favicons/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='robots' content='follow, index' />
    <meta content={frontmatter.description} name='description' />
    <meta property='og:url' content={`${meta.root}${url}`} />
    <link rel='canonical' href={`${meta.root}${url}`} />
    <meta property='og:type' content={meta.type} />
    <meta property='og:site_name' content='Harsh Singh' />
    <meta property='og:description' content={frontmatter.description} />
    <meta property='og:title' content={frontmatter.title} />
    <meta property='og:image' content={meta.image} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@harshhhdev' />
    <meta name='theme-color' content='#e5e5e5' />
    <meta name='twitter:title' content={frontmatter.title} />
    <meta name='twitter:description' content={frontmatter.description} />
    <meta name='twitter:image' content={meta.image} />
    <link
      rel='preload'
      href='/fonts/inter.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    /><link
      rel='preload'
      href='/fonts/sohne.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    /><link
      rel='preload'
      href='/fonts/fira_code.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <div class={styles.wrapper}>
      <div class={styles.inner}>
        <header class={styles.header}>
          <a href='/' class={styles.index}><Back /> Index</a>
          <h1>{frontmatter.title}</h1>
          <p>{frontmatter.description}</p>
        </header>
        <main>
          <article class='blog'>
            <slot />
          </article>
        </main>
      </div>
      <Footer client:idle />
      <BackToTop client:idle />
    </div>
  </body>
</html>
