---
import Music from '@components/Music'
import Back from '@components/Icons/Back'
import Wrapper from '@components/Layouts/Wrapper/Wrapper.astro'

import '@css/globals.css'
import styles from '@css/modules/other.module.css'

const response = await fetch('https://api.hxrsh.in/api/spotify')
const data = await response.json()
---

<Wrapper path='/music'>
  <header class={styles.header}>
    <a href='/' class={styles.index}><Back /> Index</a>
    <h1>Music</h1>
    <p>
      Mostly Punjabi and occasionally some Hindi rap/pop music. <a
        href='https://open.spotify.com/playlist/7jJcKVKHVXzBdpkrQfXvbl'
        rel='noreferrer'
        target='_blank'>Chillisthan</a
      > is my current playlist of songs curated over the years. These statistics
      are fetched periodically from my <a
        href='https://open.spotify.com/user/j5v1f8np0j8zgjp2omt9ejm52'
        target='_blank'
        rel='noreferrer'>Spotify</a
      >.
    </p>
  </header>
  <main>
    <article>
      <section class={styles.section}>
        <h2>Top Artists</h2>
        <Music data={data.artists} artists client:load />
      </section>
      <section class={styles.section}>
        <h2>Top Tracks</h2>
        <Music data={data.tracks} artists={false} client:load />
      </section>
    </article>
  </main>
</Wrapper>
