---
import styles from '../styles.module.css'
import Footer from '../Footer'
import BackToTop from '../Top'

interface Props {
  title?: string
  description?: string
  image?: string
  path: string
}

const meta = {
  root: 'https://harshsingh.xyz',
  type: 'website',
}

const {
  title = 'Harsh Singh',
  description = 'Frontend engineer building tools and polished user interactions.',
  image = 'https://harshsingh.xyz/banner.png',
  path,
} = Astro.props
---

<html lang='en'>
  <head>
    <title>{title}</title>
    <meta charset='utf-8' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicons/apple-touch-icon.png'
    />
    <link rel='alternate icon' type='image/png' href='/favicons/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='robots' content='follow, index' />
    <meta content={description} name='description' />
    <meta property='og:url' content={`${meta.root}${path}`} />
    <link rel='canonical' href={`${meta.root}${path}`} />
    <meta property='og:type' content={meta.type} />
    <meta property='og:site_name' content='Harsh Singh' />
    <meta property='og:description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:image' content={image} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@harshhhdev' />
    <meta name='theme-color' content='#e5e5e5' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />
    <link
      rel='preload'
      href='/fonts/inter.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    /><link
      rel='preload'
      href='/fonts/sohne.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    /><link
      rel='preload'
      href='/fonts/fira_code.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <div class={styles.wrapper}>
      <div class={styles.inner}>
        <slot />
      </div>
      <Footer client:idle />
      <BackToTop client:idle />
    </div>
  </body>
</html>
